.red {
    height: 600px;
    width: 900px;
    background-color: #FC3D32;
}

.green {
    height: 300px;
    width: 900px;
    background-color: #007E3A;

    position: absolute;
}

.white {
    height: 600px;
    width: 300px;
    background-color: #F5F5F5;  /* The white color would be unseen in white background. So, I changed color to gray. */

    position: absolute;
}