.container {
    height: 600px;
    width: 900px;
    background-color: #FCD116;

    position: relative;
}

.green {
    width: 700px;
    height: 400px;
    background-color: #1EB960;

    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.blue {
    width: 700px;
    height: 400px;
    background-color: #00A3E0;

    position: absolute;
    top: 200px;
    left: 200px;

    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.black {
    height:600px;
    width: 900px;
    background-color: #000000;

    position: absolute;
    clip-path: polygon(750px 0px, 900px 0px, 900px 150px, 150px 600px, 0px 600px, 0px 450px, 750px 0px);
}
