.red {
    height: 600px;
    width: 900px;
    background-color: #CE1126;
}

.white-no-cuts {
    height: 600px;
    width: 210px;
    background-color: #F5F5F5; /* The white color would be unseen in white background. So, I changed color to gray. */
    position: absolute;
}

.white-cuts {
    height: 600px;
    width: 120px;
    background-color: #F5F5F5; /* The white color would be unseen in white background. So, I changed color to gray. */

    position: absolute;
    left: 218px;

    clip-path: polygon(0% 0%, 100% 10%, 0% 20%, 100% 30%, 0% 40%, 100% 50%, 0% 60%, 100% 70%, 0% 80%, 100% 90%, 0% 100%);
}

