.green-background {
    height: 600px;
    width: 900px;
    background-color: #008751;
}

.white-background {
    background-color: #F5F5F5;  /* The white color would be unseen in white background. So, I changed color to gray. */
    height: 600px;
    width: 300px;

    position: absolute;
    left: 292px;
}
