.red {
    height: 240px;
    width: 350px;
    background-color: #D62612;

    position: relative;
}

.green {
    height: 80px;
    width: 350px;
    background-color: #00966E;

    position: absolute;
    top: 80px;
}

.white {
    height: 80px;
    width: 350px;
    background-color: #F5F5F5;  /* The white color would be unseen in white background. So, I changed color to gray. */

    position: absolute;
}
