.red {
    height: 600px;
    width: 600px;
    background-color: #FF0000;

    position: relative;
}

.vertical-line {
    height: 300px;
    width: 80px;
    background-color: white;

    position: absolute;
    left: 260px;
    top: 142px;
}

.horizontal-line {
    height: 80px;
    width: 300px;
    background-color: white;

    position: absolute;
    left: 142px;
    top: 260px;
}
